html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.input{
  margin-right: 10px;
  height: 30px;
  width: 400px;
  padding: 10px;
}
.input-wrapper{
  display: flex;
  justify-content: center;
}
.comments-loaded{
  
  text-align: center;
  
}
.main-container{
  padding: 50px;
}